.tasks__content {
    word-break: break-all;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    border: none;
    padding: 5px;
    width: 28px;
    height: 28px;
    transition: 0.5s;
}

.tasks__button--done {
    background-color: hsl(137, 85%, 21%);
}

.tasks__button--done:hover {
    background-color: hsl(135, 85%, 31%);
}

.tasks__button--done:active {
    background-color: hsl(135, 85%, 41%);
    box-shadow: inset 1px 1px 3px darkgrey;
}

.tasks__button--remove {
    background-color: crimson;
}

.tasks__button--remove:hover {
    background-color: hsl(348, 83%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(348, 83%, 70%);
    box-shadow: inset 1px 1px 3px darkgrey;
}